name: Build Orora ISOs

on:
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}

env:
  DOCKER_BUILDKIT: 1
  BUILDX_EXPERIMENTAL: 1
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  build-iso:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
      id-token: write

    container:
      image: fedora:${{ matrix.major_version }}
      options: "--privileged"
      volumes:
        - "/:/host"

    strategy:
      fail-fast: false
      matrix:
        image_name: [orora-asus]
        major_version: [39]
        image_tag: [latest]
    steps:
      - name: Build ISOs
        #if: github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
        uses: ublue-os/isogenerator@1.0.7
        with:
          ARCH: x86_64
          VARIANT: "Silverblue"
          IMAGE_TAG: ${{ matrix.image_tag }}
          VERSION: ${{ matrix.major_version }}
          IMAGE_NAME: ${{ matrix.image_name }}
          IMAGE_REPO: ghcr.io/bayou-brogrammer
          ACTION_REPO: ublue-os/isogenerator
          ACTION_REF: 1.0.5

      - name: Upload ISOs and SHA Checksum Files to R2
        shell: bash
        run: |
          export RCLONE_CONFIG_R2_TYPE=s3
          export RCLONE_CONFIG_R2_REGION=auto
          export RCLONE_CONFIG_R2_PROVIDER=Cloudflare
          export RCLONE_CONFIG_R2_ENDPOINT=${{ secrets.R2_ENDPOINT }}
          export RCLONE_CONFIG_R2_ACCESS_KEY_ID=${{ secrets.R2_ACCESS_KEY_ID }}
          export RCLONE_CONFIG_R2_SECRET_ACCESS_KEY=${{ secrets.R2_SECRET_ACCESS_KEY }}
          dnf install -y rclone
          rclone copy ./end_iso R2:orora
